{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Ripristino Password
{% endblock title %}

{% block content %}
<div class="container col-lg-4 col-md-6 border-2 border rounded-3 p-3">
    <h2>Ripristino Password</h2>
    <p>Vai nella tua email, manderemo le istruzioni per il ripristino password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Invia</button>
    </form>
</div>
{% endblock content %}